**/.terraform/

*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.tfstate.lock.info

*.tfvars
*.tfvars.json

!staging.tfvars
!production.tfvars
!*.example.tfvars

*tfplan*

*.override.tf
*.override.tf.json

crash.log
crash.*.log
*.log

.DS_Store
.idea/
.vscode/
